
<div id = "status">
    <button id="refresh_button" mat-raised-button (click)="onRefreshClicked()">refresh game</button>
    {{getStatus()}}
    <button mat-raised-button class="prompt" *ngFor="let prompt of this.myPlayer.userPrompts[this.myPlayer.userPrompts.length - 1]" 
        [disabled]="isPromptDisabled(prompt)" 
        (click)="onPromptClicked(prompt)">
        {{prompt}}
    </button>
    <mat-divider></mat-divider>
</div>

<div id="game">
    <!-- Player areas on each side of the screen-->
    <app-player id="leftPlayer" *ngIf="leftPlayer !== undefined" [player]="leftPlayer" [orientation]="'left'"></app-player>
    <app-player id="topPlayer" *ngIf="topPlayer !== undefined" [player]="topPlayer" [orientation]="'top'"></app-player>
    <app-player id="rightPlayer" *ngIf="rightPlayer !== undefined" [player]="rightPlayer" [orientation]="'right'"></app-player>

    <!-- your player on bottom-->
    <app-player id="myPlayer" [player]="myPlayer" [orientation]="'bottom'"></app-player>

    <!-- Shop in the middle -->
    <app-shop id = "shop" ></app-shop>
</div>