
#status {
    height: 5%;
    width: 100%;
    text-align: center;
}

#game{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);

    width: 100%;
    height: 95%;

    border: 1px solid purple;
}

#leftPlayer{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start:2;
    grid-row-end:11;

    border: 1px solid black;
}

#topPlayer{
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start:1;
    grid-row-end:2;
    
    border: 1px solid black;
}

#rightPlayer{
    grid-column-start: 10;
    grid-column-end: 10;
    grid-row-start:1;
    grid-row-end:9;

    border: 1px solid black;
}

#myPlayer {
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start:9;
    grid-row-end:11;

    border: 1px solid black;
}

#shop {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start:2;
    grid-row-end:9;

    margin: 8px;
}

.content {
    width: 100%;
    height: 100%;
}