app-chat {
  float: right;
  width: 20%;
  height: 80%
}

#game-area {
  border-width: 1px;
  border: 1px solid black;
  Height: 80%;
  Width: 100%;
}

app-hand {
  border: 1px solid black;
  height: 20%;
  width: 100%;
}