<app-join-game *ngIf="game === undefined"></app-join-game>
<app-setup-game *ngIf="game != undefined && game.state === 'setup' "></app-setup-game>
<app-play-game *ngIf="game != undefined && game.state === 'play' "></app-play-game>

<div id = "selectedCard" *ngIf = "selectedCard != undefined">
    <div id = "grayOut">
        <h1 id="close" (click)="onCloseSelected()">X</h1>
        <app-card id = "card" [card] = "selectedCard" [selected]="false" [orientation]="'bottom'" [revealed]="true"></app-card>
    </div>
</div>