* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-play-game {
  height: auto;
  width: auto;
}

#viewedCard {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10 /*just to make sure its on top*/;
}

#viewedPile {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10 /*just to make sure its on top*/;
}

#grayOut {
  width: 100%;
  height: 100%;
  background-color: rgba(125, 125, 125, 0.7);
  
}

#pileView {
  background-color: white;
  width: 80%;
  height: 20%;
  overflow: auto;
  white-space: nowrap;
  position: absolute;
  height: 50%;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#pileCard {
  height: 90%;
  width: auto;
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#card {
  position: absolute;
  height: 50%;
  width: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#close {
  background-color: red;
  color:black;
  border-radius: 50%;
  border: solid 2px black;
  cursor: pointer;
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;

  position: absolute;
  left: 10%;
  top: 10%;
}