.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
  }

mat-card{
    width: 100%;
}

mat-card-content{
    width: 100%;
    height:100%;
}

#basicCardContainer {
    height: 20%;
}

#kingdomCardContainer {
    height:80%
}

mat-card-content {
    height: 100%;
}

#basicCards {
    width: 100%;
    height:100%;
    display: grid;
    grid-template-columns: repeat(10, 8%);
    grid-template-rows: 100%;
    grid-gap: 1em;
}

#presets {
    height: 10%;
}

#kingdomCards {
    width: 100%;
    height:90%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 30%);
    grid-gap: 1em;
}

#playerList {
    float: left;
    width: 18%;

    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.colorBox {
    width: 10px;
    height: 10Px;
    border: 1px solid black;
}
#playerTable {
    border-collapse: collapse;
}

 #playerTable td, 
 #playerTable th {
    border: 1px solid rgb(37, 37, 37);
    padding: 8px;
}

#nestedTable {
    border-collapse: collapse;
}

#nestedTable td{
    border-width: 0px;
}