#title {
    height: 5%;
    font-size: small;
}

#container {
    height: 95%;
}

#basicCards { 
    display: grid;    
    grid-template-columns: repeat(8, 6%);
    column-gap: 4em;

    height: 25%;
}

#kingdomCards { 
    margin-top: 1px;

    display: grid;
    grid-template-columns: repeat(5, calc(10% - 2em));
    grid-template-rows: repeat(2, calc(50% - 1em));
    column-gap: 10em;

    height: 75%;
}

app-card-pile {
    height: 100%;
}