
<div id="bottomPlayer" *ngIf = "orientation === 'bottom'">
    <div id= "bottomPlayerInfo" [style.background]="player.color">
        <div id = "playerInfoText">
            {{player.name}}<br>
            Actions: {{player.actions}}<br>
            Buys: {{player.buys}}<br>
            Coins: {{player.coins}}<br>
        </div>
    </div>
    <app-card-pile id="bottomPlayerDeck" [cards]="player.deck" [location]="'Deck'" [showLocationLabel]="true" [revealed] = "false" [orientation] ="'bottom'"></app-card-pile>
    <app-card-pile id="bottomPlayerRevealed" [cards]="player.revealed" [revealed] = "true" [orientation] ="'bottom'"></app-card-pile>
    <div id ="bottomPlayerHand">
        <app-card *ngFor="let card of player.hand" [card]="card"  [highlighted]="isCardHighlighted(card) === true && isCardSelected(card) === false" [selected]="isCardSelected(card) === true" [revealed] = "true" [orientation] ="'bottom'"></app-card>
    </div>
    <app-card-pile id="bottomPlayerInPlay" [cards]="player.inPlay" [location]="'In Play'" [showLocationLabel]="true" [revealed] = "true" [orientation] ="'bottom'"></app-card-pile>
    <app-card-pile id="bottomPlayerDiscard" [cards]="player.discard" [location]="'Discard'" [showLocationLabel]="true" [revealed] = "true" [orientation] ="'bottom'"></app-card-pile>
</div>

<div id="leftPlayer" *ngIf = "orientation === 'left'">
    <div id= "leftPlayerInfo" [style.background]="player.color">
        <div id = "playerInfoText">
            {{player.name}}<br>
            Actions: {{player.actions}}<br>
            Buys: {{player.buys}}<br>
            Coins: {{player.coins}}<br>
        </div>
    </div>
    <app-card-pile id="leftPlayerDeck" [cards]="player.deck" [revealed] = "false" [orientation] ="'left'"></app-card-pile>
    <app-card-pile id="leftPlayerRevealed" [cards]="player.revealed" [revealed] = "true" [orientation] ="'left'"></app-card-pile>
    <div id ="leftPlayerHand">
        <app-card *ngFor="let card of player.hand" [card]="card" [revealed] = "card.revealedToOthers" [orientation]="'left'"></app-card>
    </div>
    <app-card-pile id="leftPlayerInPlay" [cards]="player.inPlay" [revealed] = "true" [orientation] ="'left'"></app-card-pile>
    <app-card-pile id="leftPlayerDiscard" [cards]="player.discard" [revealed] = "true" [orientation] ="'left'"></app-card-pile>
</div>

<div id="topPlayer" *ngIf = "orientation === 'top'">
    <app-card-pile id="topPlayerDiscard" [cards]="player.discard" [revealed] = "true" [orientation] ="'top'"></app-card-pile>
    <app-card-pile id="topPlayerInPlay" [cards]="player.inPlay" [revealed] = "true" [orientation] ="'top'"></app-card-pile>
    <div id ="topPlayerHand">
        <app-card *ngFor="let card of player.hand" [card]="card" [revealed] = "card.revealedToOthers" [orientation]="'top'"></app-card>
    </div>
    <app-card-pile id="topPlayerRevealed" [cards]="player.revealed" [revealed] = "true" [orientation] ="'top'"></app-card-pile>
    <app-card-pile id="topPlayerDeck" [cards]="player.deck" [revealed] = "false" [orientation] ="'top'"></app-card-pile>
    <div id= "topPlayerInfo" [style.background]="player.color">
        <div id = "playerInfoText">
            {{player.name}}<br>
            Actions: {{player.actions}}<br>
            Buys: {{player.buys}}<br>
            Coins: {{player.coins}}<br>
        </div>
    </div>
</div>

<div id="rightPlayer" *ngIf = "orientation === 'right'">
    <app-card-pile id="rightPlayerDiscard" [cards]="player.discard" [revealed] = "true" [orientation] ="'right'"></app-card-pile>
    <app-card-pile id="rightPlayerInPlay" [cards]="player.inPlay" [revealed] = "true" [orientation] ="'right'"></app-card-pile>
    <div id ="rightPlayerHand">
        <app-card *ngFor="let card of player.hand" [card]="card" [revealed] = "card.revealedToOthers" [orientation]="'right'"></app-card>
    </div>
    <app-card-pile id="rightPlayerRevealed" [cards]="player.revealed" [revealed] = "true" [orientation] ="'top'"></app-card-pile>
    <app-card-pile id="rightPlayerDeck" [cards]="player.deck" [revealed] = "false" [orientation] ="'right'"></app-card-pile>
    <div id= "rightPlayerInfo" [style.background]="player.color">
        <div id = "playerInfoText">
            {{player.name}}<br>
            Actions: {{player.actions}}<br>
            Buys: {{player.buys}}<br>
            Coins: {{player.coins}}<br>
        </div>
    </div>
</div>